<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="nav-wrapper">
                <div id="nav-box" class="nav-box">
                    <div class="nav-start">
                        <a class="nav-logo-link" href="#">
                            <img src="" />
                        </a>
                    </div>
                    
                    <div class="nav-center">
                        <div id="menu-box" class="menu-box" onclick="hideMenu(event)">
                            <div id="menu" class="menu center-drop-menu">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                    <li class="menu-item">
                                        <span class="under-line-animation">PageLink</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="burger" onclick="toggleMenu()">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                    </div>

                    <div class="nav-end">

                    </div>
                </div>
            </div>

        </header>
        <div style="height: 2000px; text-align: center;">
            <div style="margin-top: 300px; font-size: 3rem;">
                Scroll Down<br>
                Switch RWD Size
            </div>

        </div>
        <script src="./utils/menu.js"></script>
        <script src="./utils/nav.js"></script>
    </body>
</html>