<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="button-box">
            <button class="toggle-btn" onclick="showRightDrawer()">Toggle Drawer</button>
        </div>
        <div id="rightDrawer" class="right-drawer deep-gray-box h-8 w-50">
            <div class="drawer-header">
                Right Drawer
            </div>
            <div class="drawer-body">
                <div>
                    Drawer Content
                </div>
            </div>
        </div>
        <script src="./utils/main.js"></script> 
    </body>
</html>