<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="justify-align-center text-light">Header</header>

        <div id="stickBox" class="stick-box m-5 justify-align-center font-size-m">
            stick-box
        </div>

        <footer class="justify-align-center text-light">Scroll Down</footer>
        <script src="./utils/main.js"></script> 
    </body>
</html>